
body {
        justify-items: center;
        background: linear-gradient(135deg, #81014c, #110157);
        font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    }
    label {
        font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    }
    input {
        color: rgb(255, 254, 254);
        font-size: small;
    }
    svg {
        justify-items: center;
    }
    polygon {
        justify-items: center;
    }
    input,
    button,
    select,
    textarea {
        font: inherit;
    }

    input {
        background: #590274;
        color: var(--tex-1);
        border: var(--border);
        border-radius: 16px;
        padding: 1ex 2ex;
    }
    .submit {
         background: #24013b;
        color: var(--tex-1);
        border: var(--border);
        border-radius: 16px;
        padding: 1ex 2ex;
    }
    input:has(.Send) {
        background: #270158;
        color: var(--tex-1);
        border: var(--border);
        border-radius: 16px;
        padding: 1ex 2ex;
    }
    .video-container {
        background: linear-gradient(#8b049c, #0e0180);
        display: grid;
        gap: 1rem;
        border: var(--border);
        border-radius: 16px;
        padding: 2ex 16ex;
    }
    form {
        background: linear-gradient(#eb03c4, #2b017a);
        display: grid;
        gap: 1rem;
        border: var(--border);
        border-radius: 16px;
        padding: 2ex 16ex;
        
    }
    * {
        min-width: 0;
    }
    label {
        text-transform: uppercase;
        font-size: 1rem;
    }
    .form-group {
        display: grid;
        gap: 1cap;
    }
    .skills h2{
        font-weight: 400;
        letter-spacing: 1px;
        margin-top: 40px;
        margin-bottom: 5px;
        color: #fff;
        font-size: 16px;
    }
    .progress-bar {
        background: #6d6d6d;
        width: 600px;
        height: 10px;
        border-radius: 5px;
    }
   .progress-bar div {
     height: 10px;
     border-radius: 5px;
     width: 0%;
   }
   .progress-bar div span {
    height: 30px;
    width: 30px;
    border-radius: 50%;
    background: linear-gradient(#f811ab, #43026e);
    float: right;
    margin-top: -10px;
    margin-right: -15px;
    color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
}

.html {
    
    background: linear-gradient(#ff00f2, #43026e);
    animation: html 1s linear forwards;
}
.css {
    
    background: linear-gradient(#ff00bf, #43026e);
    animation: css 1s linear forwards;
}
.JavaScript {
    
    background: linear-gradient(#ff00ff, #43026e);
    animation: JavaScript 1s linear forwards;
}
.html span {
    border: 1px solid #000000;
}
.css span {
    border: 1px solid #000000;
}
.JavaScript span {
    border: 1px solid #000000;
}
@keyframes html {
    100%{
        width: 30%;
    }
}
@keyframes css {
    100%{
        width: 10%;
    }
}
@keyframes JavaScript {
    100%{
        width: 0%;
    }
}
.text {
    font-weight: 400;
     letter-spacing: 1px;
        margin-top: 40px;
        margin-bottom: 5px;
        color: #000000;
        font-size: 16px;
}